*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #d8d7d7;
}

h1{
     color:rgb(68, 67, 68);
     font-size: 3rem;
     text-align: center;
 }
 @media  screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
}
 h2{
     padding-top:25px;
     color: rgb(68, 67, 68);
     font-size: 2rem;
     text-align: center;
 }
@media  screen and (max-width: 768px) {
        h2{
            font-size: 1.5rem;
        }
}
/*Header*/
.header{
    position: fixed;    
    top: 0;             
    left: 0;            
    width: 100%;        
    z-index: 1000;      
}
.subHeader{
    background-color:#accbb0;
    p{
        color: rgb(68, 67, 68);
        font-size: 1rem;
        padding: 1rem;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .subHeader{
        display: none;
    }
}
.header-contenedor{
    background-color: #ecbc6b;
    font-size: 15px;
    height:15vh;
    padding:10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .header-contenedor{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
    }
}

.logo{
    width: 85px;  
     
}
.nav-header{   
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin-right: 15px;
            a{
                text-decoration: none;
                color: rgb(68, 67, 68);
                font-size: 1em;
              
            }
        }
    }
}

.carrito, .contacto {
    width: 40px;  
    height: 40px;
    margin-left: 15px; 
    
}
/* Fin del Header*/

/*Main*/
main{
    margin-top: 200px;
}
/*galeria de imagenes*/
.galeria{
    width: 90%;
    margin:0 auto;
    height: 85vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid gray;
    margin-top: 10px;
}
.galeria img{
    width: 0px;
    height:100%;
    flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
    
}
.galeria img:hover{
    width: 30%;
    opacity: 1;
    filter:contrast(120%);
    
}

/*galeria de juguetes por edad*/
.juguetesPorEdad{
    .galeriaPorEdad{
        padding:20px;
        margin:0 auto;
        width: 90%;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .tarjetaJuguete{
            text-align: center;
            padding: 10px;
            box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
            border-radius: 5px;
            img{
                width: 200px;
             }
        }
    }
}
@media screen and (max-width:768px){
    .juguetesPorEdad{
        .galeriaPorEdad{
            justify-content: center;
            .tarjetaJuguete{
                margin-bottom: 10px;
            }
        }
    }
}
/*Banner montessori*/
.lineaMontessori{
    text-align: center;
    img{
        width: 60%;
    }
}

/*Tarjetas de los mas elegidos*/
.los_mas_elegidos{
    .galeriaElegidos{
        padding:20px;
        margin:0 auto;
        width: 90%;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .tarjeta_elegidos{
            text-align: center;
            padding: 10px;
            box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
            border-radius: 5px;
            button {
                width: 150px;
                height: 40px;
                font-size: 15px;
                color: #030303;
                background-color: #ecbc6b;
                border-radius: 5px;
              }
            img{
                width: 200px;
             }
        }
    }
}
@media screen and (max-width:768px){
    .los_mas_elegidos{
        .galeriaElegidos{
            justify-content: center;
            .tarjeta_elegidos{
                margin-bottom: 10px;
            }
        }
    }
}
/*Banner de Ofertas*/
.banner_ofertas {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    img{
        width:100%;
        height:100vh;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}
@media  screen and (max-width: 768px) {
    .banner_ofertas{
        display: flex;
        justify-content: center;
        img{
            height: 48vh;
        }
    }
}
/*Tarjetas de juguetes por categoria*/
.juguetes_por_categoria{
    .galeria_por_categoria{
        padding:20px;
        margin:0 auto;
        width: 90%;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .tarjeta_categoria{
            width: 200px;
            right: auto;
            text-align: center;
            padding: 10px;
            box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
            border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px;
            -moz-border-radius: 200px 200px 200px 200px;  
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius:200px ;
             }
        }
    }
}
@media screen and (max-width:768px){
    .juguetes_por_categoria{
        .galeria_por_categoria{
            justify-content: center;
            .tarjeta_categoria{
                margin-bottom: 30px;
            }
        }
    }
}
/*Fin del Main*/

/*Footer*/
footer{
    background-color: #ecbc6b;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    padding:20px;
    .logo_footer{
        width: 150px;
    }
    p{
        color: rgb(68, 67, 68);
        font-size: 1rem;
        margin-bottom: 10px 
    }
    .div_footer{
        text-align: center;
        img{
            display: inline-block;
            margin: 0 5px;
            width: 40px;
            height: 40px;
        }
    }
}
@media screen and (max-width:768px){
   .footer{
     flex-direction: column;
     height: initial;
     align-items: start;
     row-gap:20px;
     .logo_footer{
         width: 100px;
     }
   }
}
.nav_footer{   
    ul{
        list-style: none;
        li{
            margin-right: 15px;
            a{
                text-decoration: none;
                color: rgb(68, 67, 68);
                font-size: 1em;
              
            }
        }
    }
}
.fa-whatsapp{
    font-size: 5em;
    color:rgb(44, 181, 44);
    position:fixed;
    bottom: 20px;
    right: 20px;
   
}
@media screen and (max-width:768px){
    .fa-whatsapp{
        font-size: 3em;
}
}
/*Fin del Footer*/
/*FIN INDEX*/

/*CONTACTO*/
.main_contacto{
    margin-top: 140px;
    height: 130vh;
    background-image: url(../assets/img/chicos_jugando7.jpg);
    background-size: cover;
    margin-top: 170px;
}

.formulario_contacto {
    height: 100vh;
    display: flex; /* Establecemos flexbox para el contenedor */
    justify-content: space-between; /* Centramos verticalmente los elementos hijos */
    flex-wrap: wrap;
    position:relative;
    padding-top:30px;
    margin-left: 10px;
    font-size: 20px;
    .div_contacto{
        width: 48%;
        padding: 0 0 20px;
        select{
            font-size: 20px;
        }
    }
    input{
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 20px;
        size: 20;
    }
    .textarea_contacto{
        font-size: 15px;
    }
    .textarea_mobile{
        display:none;
    }
    button {
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
}
@media screen and (max-width:768px){
    .formulario_contacto{
        font-size: 15px;
        .textarea_contacto{
            display: none;
        }
        input{
            font-size: 15px;
        }
        .textarea_mobile{
            display: flex;
            font-size: 15px;
        }
        button {
            width: 100px;
            height: 30px;
            font-size: 15px;
          }
        .div_contacto{
            select{
                font-size: 15px;            
            }
        }
    }
}

/*FIN CONTACTO*/

/*PRIMERA INFANCIA*/
.main_primera_infancia{
    h1{
        margin-bottom: 15px;
    }
}
.galeria_primera_infancia{
    width: 90%;
    margin:0 auto;
    display:grid;
    justify-content: center;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas:    "foto1 foto2"
                            "foto3 foto2"
                            ;
    gap:25px;
    .hijo_1{
        grid-area:foto1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
    }
    .hijo_2{
        grid-area:foto2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
    }
    .hijo_3{
        grid-area: foto3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
    }
}
/*PRODUCTOS PRIMERA INFANCIA*/
.section_productos{
    .galeria_de_productos{
        padding:20px;
        margin:0 auto;
        width: 60%;
        display:flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        .tarjeta_producto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            background-color: white;
            padding: 10px;
            box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
            border-radius: 5px;
            margin: 20px;
            img{
                width: 300px;
             }
        }
    }
}
@media screen and (max-width:768px){
    .section_productos{
        .galeria_de_productos{
            justify-content: center;
            .tarjeta_producto{
                margin-bottom: 30px;
            }
        }
    }
}
/*FIN PRIMERA INFANCIA*/
/*LINEA MONTESSORI*/
.main_linea_montessori{
    h1{
        margin-bottom: 15px;
    }
}
/*FIN LINEA MONTESSORI*/
/*LINEA 2 A 4 AÑOS*/
.main_2_años{
    h1{
        margin-bottom: 15px;
    }
}
/*FIN LINEA 2 A 4 AÑOS*/
/*LINEA 5 A 7 AÑOS*/
.main_5_años{
    h1{
        margin-bottom: 15px;
    }
}
/*FIN LINEA 5 A 7 AÑOS*/
/*LINEA 8 O MAS AÑOS*/
.main_8_años{
    h1{
        margin-bottom: 15px;
    }
}
/*FIN LINEA 8 O MAS AÑOS*/
/*SUCURSALES*/

.contenedor_sucursales{
    width: 90%;
    margin:0 auto;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:    "sucursal1 sucursal2"
                            "sucursal3 sucursal3"
                            ;
    gap:25px;
    .sucursal1{
        grid-area:sucursal1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
        text-align: center;
    }
    .sucursal2{
        grid-area:sucursal2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
        text-align: center;
    }
    .sucursal3{
        grid-area: sucursal3;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: -10px 0px 35px 12px rgba(0, 0, 0, 0.198);
        text-align: center;
    }
}
@media (max-width: 768px) {
    .contenedor_sucursales {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        grid-template-areas:
            "sucursal1"
            "sucursal2"
            "sucursal3";
        .mapa{
            width: auto;
        }
    }
}